<header>
  <div class="contents">
    <h1 class="title">ROAD BICYCLE</h1>
    <div class="search-bar">
      <%= form_with(url: "#", local: true, method: :get, class: "search-form") do |form| %>
        <%= form.text_field :keyword, placeholder: "キーワード検索", class: "search-box" %>
        <button class="search-btn">
          <%= image_tag "search.png",class:"search-icon" %>
        </button>
      <% end %>
    </div>
  </div>
  <div class="header-list">
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to '投稿する', '#' %></li>
        <li><%= link_to '予定の確認', '#' %></li>
        <li><%= link_to current_user.username, "#" %> </li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to '投稿する', '#' %></li>
        <li><%= link_to '予定の確認', '#' %></li>
        <li><%= link_to '新規登録', new_user_registration_path %></li>
        <li><%= link_to 'ログイン', new_user_session_path %></li>
      <% end %>      
    </ul>
  </div>
</header>