<header>
  <div class="contents">
    <h1 class="title">ROAD BICYCLE</h1>
    <div class="search-bar">
      <%= form_with(url: "#", local: true, method: :get, class: "search-form") do |form| %>
        <%= form.text_field :keyword, placeholder: "キーワード検索", class: "search-box" %>
        <button class="search-btn">
          <%= image_tag "search.png",class:"search-icon" %>
        </button>
      <% end %>
    </div>
  </div>
  <div class="header-list">
    <ul>
      <li><%= link_to '投稿する', '#' %></li>
      <li><%= link_to '予定の確認', '#' %></li>
      <li><%= link_to '新規登録', new_user_registration_path %></li>
      <li><%= link_to 'ログイン', new_user_session_path %></li>
      <li><%= link_to 'ログアウト', '#' %></li>
    </ul>
  </div>
</header>



  <div class="main-contents">
    <p>新着記事50件</p>
  </div>
  <div class="footer">
    <ul class="footer-list">
      <li>●トップページへ</li>
      <li>●メニュー</li>
      <li>●ユーザー名</li>      
    </ul>
  </div>
